<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataEntity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DataEntity.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataEntity.Properties.Settings>
            <setting name="CMD_BLOCK" serializeAs="String">
                <value>BLOC</value>
            </setting>
            <setting name="CMD_ELB" serializeAs="String">
                <value>ELB</value>
            </setting>
            <setting name="CMD_PRLI" serializeAs="String">
                <value>PRLI</value>
            </setting>
            <setting name="CMD_PRLS" serializeAs="String">
                <value>PRLS</value>
            </setting>
            <setting name="CMD_PLRT" serializeAs="String">
                <value>PLRT</value>
            </setting>
            <setting name="MaximumDosageTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MES_Database" serializeAs="String">
                <value>MPGINTERFACE</value>
            </setting>
            <setting name="MES_Pass" serializeAs="String">
                <value>Kober2019!@#</value>
            </setting>
            <setting name="MES_Production" serializeAs="String">
                <value>192.168.10.30</value>
            </setting>
            <setting name="MES_Production_Pass" serializeAs="String">
                <value>Kober.1234</value>
            </setting>
            <setting name="MES_Production_User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="MES_Server" serializeAs="String">
                <value>192.168.10.14</value>
            </setting>
            <setting name="MES_User" serializeAs="String">
                <value>MPG</value>
            </setting>
            <setting name="MPG_Database" serializeAs="String">
                <value>MPG</value>
            </setting>
            <setting name="MPG_Pass" serializeAs="String">
                <value>Kober2022!</value>
            </setting>
            <setting name="MPG_Server" serializeAs="String">
                <value>192.168.10.26</value>
            </setting>
            <setting name="MPG_User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Path_Sqlite" serializeAs="String">
                <value>E:\Local.sqlite</value>
            </setting>
            <setting name="SAP_Pass" serializeAs="String">
                <value>MES_2022</value>
            </setting>
            <setting name="SAP_Server" serializeAs="String">
                <value>http://DEZV-ECC.kober.ro:8000/sap/bc/srt/rfc/sap/z_mpg/200/z_mpg/z_mpg</value>
            </setting>
            <setting name="SAP_User" serializeAs="String">
                <value>USERMES</value>
            </setting>
            <setting name="Docker_Server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Docker_User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Docker_Pass" serializeAs="String">
                <value>Kober2020!</value>
            </setting>
            <setting name="Docker_Database" serializeAs="String">
                <value>MPG</value>
            </setting>
        </DataEntity.Properties.Settings>
        <DataEntity.Properties.Settings1>
            <setting name="Salut" serializeAs="String">
                <value>Salut</value>
            </setting>
        </DataEntity.Properties.Settings1>
    </userSettings>
</configuration>