<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MpgWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MpgWebService.Properties.Settings>
            <setting name="Plant" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Update" serializeAs="String">
                <value />
            </setting>
            <setting name="Code" serializeAs="String">
                <value>MPG_1</value>
            </setting>
            <setting name="Connection" serializeAs="String">
                <value>MES</value>
            </setting>
            <setting name="CMD_BLOCKED" serializeAs="String">
                <value>BLOC</value>
            </setting>
            <setting name="CMD_DONE" serializeAs="String">
                <value>PRLT</value>
            </setting>
            <setting name="CMD_ERROR" serializeAs="String">
                <value>PRLI</value>
            </setting>
            <setting name="CMD_QC" serializeAs="String">
                <value>PRLQ</value>
            </setting>
            <setting name="CMD_SEND" serializeAs="String">
                <value>ELB</value>
            </setting>
            <setting name="CMD_STARTED" serializeAs="String">
                <value>PRLS</value>
            </setting>
            <setting name="CONSUMPTION_TYPE" serializeAs="String">
                <value>261</value>
            </setting>
            <setting name="MAXIMUM_DOSAGE_TIME" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RECEIPT_TYPE" serializeAs="String">
                <value>101</value>
            </setting>
        </MpgWebService.Properties.Settings>
    </userSettings>
</configuration>